<!DOCTYPE html>
<html>
{{template "header"}}
<title>Errore</title>
<body>
   <img src="/static/login_error.png" width=25%/>
<h4>Autenticazione errata o assente</h4>
<h3><a href="/">Home</a></h3>
{{template "footer"}}
</body>
</html>