html {
    height: 100%;
    display: grid;
  }
  
  body {
    /* width: 80%;
    max-width: 20em; */
    /* padding: 25vh 1em; */
    /* margin: auto; */
    background-color: lightblue;
  }
  body :last-child {
    margin-bottom: 0;
  }

  .title{
    position: fixed;
    text-align: left;
    color: blue;
    top: 2px;
    width: 95%;
    font-size: xx-large;
    font-style: bold;
    font-family: Arial, sans-serif;
    color: #333333;
    background: #FFFFFF;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
    color: #333333;
    background: lightblue;
  }
div.surveyTitolo {
    position: fixed;
    text-align: left;
    top: 2px;
    margin: auto;
}
div.questions {
    position: absolute;
    top: 170px;
    text-align: left;    
    font-size: x-large;
    z-index: -2;
}
.image{ 
    position: fixed;
    text-align: right;
    top: 40px;
}
.footer{ 
    position: fixed;     
    text-align: center;    
    bottom: 2px; 
    width: 100%;
    font-size: xx-small;
}
.rounded {
    margin: 0.4rem;
    border-radius: 25px;
    background-color: #2a4580;
    color: #fff;
    padding: 0.2rem;
    cursor: pointer;
    }
