body {
    background-color: lightblue;
  }
  .title{
    position: fixed;
    text-align: left;
    color: blue;
    top: 2px;
    width: 95%;
    font-size: xx-large;
    font-style: bold;
    font-family: Arial, sans-serif;
  }
.footer{ 
    position: fixed;     
    text-align: center;    
    bottom: 2px; 
    width: 100%;
    font-size: xx-small;
}
.rounded {
    margin: 0.4rem;
    border-radius: 25px;
    background-color: #006600;
    color: #fff;
    padding: 0.2rem;
    cursor: pointer;
    }