<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <title>Survey System - Errore -</title>
</head>
<body>
<h1>Errore</h1>
   <img src="login_error.png" width=25%/>
<h4>Autenticazione errata o assente</h4>
<h3><a href="/">Home</a></h3>
{{template "footer"}}
</body>
</html>