{{template "header"}}
<title>Errore</title>
<body>
   <img src="/static/login_error.png" width=25% alt="Errore"/>
<h4>Autenticazione errata</h4>
<h5>Verifica il collegamento intranet.</h5>
<h3><a href="/">Home</a></h3>
{{template "footer" . }}
