{{define "footer"}}
<div class="footer">Made by <a href="mailto:alberto.bregliano@telecomitalia.it">Alberto Bregliano</a> - Copyright 2020 &copy - All Rights Reserved</div>
<script src="/static/index.js"></script>
{{end}}