{{define "footer"}}
<div class="footer">Version: {{.Versione}} - Made by <a href="mailto:alberto.bregliano@telecomitalia.it">Alberto Bregliano</a> - Copyright 2020 &copy - All Rights Reserved</div>
</body>
</html>
{{end}}