{{define "header"}}
<!DOCTYPE html>
<html lang="it">
<head>
<link rel="stylesheet" href="/static/styles.css">
<link rel="icon" href="/static/favicon.ico" />
<link rel="preload" href="/static/vue.js" as="script">
<link rel="preload" href="/static/index.js" as="script">
<link rel="preconnect" href=https://europe-west6-ctio-8274d.cloudfunctions.net>
<link rel="preload" href="/survey/1dKXJ2bm_ZYm3tlIMmFcFfM4hjtKXmqndigjekd_H_yo" as="document">
<link rel="preconnect" href="https://browser.events.data.microsoft.com">
<link rel="preconnect" href="https://euwe-1-content.api.microsoftstream.com">
<link rel="preconnect" href="https://secure.aadcdn.microsoftonline-p.com">
<link rel="preconnect" href="https://amsglob0cdnstream13.azureedge.net">
<link rel="preconnect" href="https://assets.onestore.ms">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{{end}}