{{define "header"}}
<head>
<link rel="stylesheet" href="/static/styles.css">
<link rel="icon" href="/static/favicon.ico" />
<meta charset="UTF-8" />
<script src="/static/vue.js"></script>
</head>
{{end}}