{{template "header"}}
<title>Grazie</title>
<body>
<h3>Il survey risulta già effettuato</h3>
<img src="/static/grazie.png" width=20% alt="Grazie" />
    <a href="/">Home</a> - <a href="/logout">Logout</a>
{{template "footer" . }}