<!DOCTYPE html>
<html>
{{template "header"}}
<title>Login</title>
<body>
<h2>Ciao {{.Utente}},</h2>
<br>
<h3>Login effettuato</h3>
<br>
<h4>Scegli a quale survey partecipare:</h4>
    <a href="/survey">Cyber Security Process Adoption</a>
    <br>
    <br>
    <a href="/">Home</a> - <a href="/logout">Logout</a>
    {{template "footer"}}
</body>
</html>