<!DOCTYPE html>
<html>
{{template "header"}}
<title>Login</title>
<body>
<h3>Login effettuato</h3>
<br>
    <a href="/survey">Cyber Security Process Adoption</a>
    <br>
    <a href="/">Home</a> - <a href="/logout">Logout</a>
    {{template "footer"}}
</body>
</html>