<!DOCTYPE html>
<html>
{{template "header"}}
<title>Login</title>
<body>
<h2>Ciao {{.Utente}},</h2>
<br>
<h3>Login effettuato</h3>
<br>
<h4>Scegli a quale survey partecipare</h4>
    <a href="/survey/1dKXJ2bm_ZYm3tlIMmFcFfM4hjtKXmqndigjekd_H_yo">Cyber Security Process Adoption</a>
    <br>
    <br>
    <small>il survey deve essere completato entro 15 minuti e non è possibile interromperlo
    per riprendero successivamente.</small>
    <br>
    <small>Anche il refresh della pagina interromperà il survey.</small>

    <br>
    <a href="/">Home</a> - <a href="/logout">Logout</a>
    {{template "footer" . }}
</body>
</html>