{{template "header"}}
<title>Logout</title>
<body>
<h3>Logout effettuato</h3>
<img src="/static/logout.png" width=20% alt="Logout" />
<br>
    <a href="/">Home</a> - <a href="/exit">Exit</a>
{{template "footer" . }}