<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h3>Grazie per aver partecipato</h3>
    <a href="/">Home</a> <a href="/logout">Logout</a>
    {{template "footer"}}
</body>
</html>