<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h3></h3>
<img src="grazie.png" width=50% />
    <a href="/">Home</a> - <a href="/logout">Logout</a>
    {{template "footer"}}
</body>
</html>