<!DOCTYPE html>
<html>
{{template "header"}}
<title>Errore</title>
<body>
   <img src="/static/login_error.png" width=25%/>
<h4>Browser non permesso</h4>
<h5>Il browser utilizzato è incompatibile</h5>
{{template "footer" . }}
</body>
</html>
