<!DOCTYPE html>
<html>
{{template "header"}}
<body>
<title>{{.Titolo}}</title>
<h1>{{.Titolo}}</h1>
<h3>Inizio: {{.Inizio}} Fine: {{.Fine}}</h3>
<h3>Ciao {{.Utente}},</h3>

<div class="questions" >
<iframe style="position:fixed;right:100px;top:100px; z-index:-1;" width="500" height="360" src={{.Video}} allowfullscreen></iframe>
</div>

<div>
<form method="POST" action="/survey/">
<input type="hidden" id="surveyID" name="surveyID" value={{.ID}}>
<input type="hidden" id="utente" name="utente" value={{.Utente}}>
<input type="hidden" id="department" name="department" value={{.Department}}>
<input type="hidden" id="matricola" name="matricola" value={{.Matricola}}>
<ol>
{{range $index, $value := .Domande.Domanda}}

    {{ if (eq .Tipo "booleana") }}
        <li>{{.Text}}</li>
        <input type="radio" id="si" name={{.IDDomanda}} value="si" required>
        <label for="si">Si</label>
        <input type="radio" id="no" name={{.IDDomanda}} value="no" required>
        <label for="no">No</label>
        <br>
    {{end}}

    {{ if (eq .Tipo "libera") }}
        <li>{{.Text}}</li>
        <input type="textarea" id="textarea" name={{.IDDomanda}} value="" required>
    {{end}}

    {{ if (eq .Tipo "multipla") }}
        <li>{{.Text}}</li>
        <select name={{.IDDomanda}} id="elementi" multiple>
        <option value="ND" selected="selected"></option>
        {{range $indexr, $value := .Opzioni.Opzione}}
             <option value={{$value}}>{{$value}}</option>
        {{end}}
        </select>
    {{end}}

{{end}}
<br>
 <input type="submit" value="Invia">
</ol>
</form>
</div>
{{template "footer"}}
</body>
</html>