<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="styles.css">
</head>
{{$name := .}}
<h1>{{.Titolo}}</h1>
<h3>Ciao {{.Utente}}</h3>
<h4>Inizio: {{.Inizio}} Fine: {{.Fine}}</h4>

<img src="survey.jpg" />
<div>
<form method="POST" action="/survey">
<input type="hidden" id="utente" name="utente" value={{.Utente}}>
<input type="hidden" id="matricola" name="matricola" value={{.Matricola}}>
<ul>
{{range $index, $value := .Domande.Domanda}}

    {{ if (eq .Tipo "booleana") }}
        <li>{{.Text}}</li>
        <input type="radio" id="si" name={{$index}} value="si">
        <label for="si">Si</label>
        <input type="radio" id="no" name={{$index}} value="no">
        <label for="no">No</label>
        <br>
    {{end}}

    {{ if (eq .Tipo "libera") }}
        <li>{{.Text}}</li>
        <input type="textarea" id="textarea" name={{$index}}>
    {{end}}

    {{ if (eq .Tipo "multipla") }}
        <li>{{.Text}}</li>
        <select name={{$index}} id="elementi" multiple>
        {{range $indexr, $value := .Opzioni.Opzione}}
             <option value={{$value}}>{{$value}}</option>
        {{end}}
        </select>
    {{end}}

{{end}}
 <input type="submit" value="Invia">
</ul>
</form>
</div>
<div class="footer">Made by <a href="mailto:alberto.bregliano@telecomitalia.it">Alberto Bregliano</a> - Copyright 2020 &copy - All Rights Reserved</div>

</html>