{{template "header"}}
<title>TIMEOUT</title>
<body>
   <img src="/static/login_error.png" width=25% alt="Errore" />
<h4>Timeout</h4>
<h5>La compilazione ha superto il tempo massimo previsto.</h5>
<h3><a href="/">Home</a></h3>
{{template "footer" . }}